##### import libraries needed

In [27]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import numpy as np

### DB Layout
![DB Layout plan](./01-DB_structure_diagramm.PNG)

### 1. Creating a connection to project DB

In [50]:
driver = "mysql+pymysql:"
user = "ironhack"
password = "Ir0nhack"
ip = "35.240.116.117"
database = "Project_4"

In [51]:
connection_string = f"{driver}//{user}:{password}@{ip}/{database}"
engine = create_engine(connection_string)

### 2. Creating table layout (not actually needed but good for organisaiton)

##### Table 1: Countries

In [30]:
query_country = """
CREATE TABLE Countries(
id INT(17) NOT NULL AUTO_INCREMENT,
country VARCHAR(25),
country_code VARCHAR(25),

PRIMARY KEY(id)
);
"""

In [ ]:
#not needed
#engine.execute(query_rosenberg)

##### Table 2: Rosenberg_results

In [36]:
query_rosenberg = """
CREATE TABLE Rosenberg_results(
id INT(17) NOT NULL AUTO_INCREMENT,
sum_results INT,
id_country INT(17),
age INT,
gender VARCHAR(1), 

PRIMARY KEY(id),
FOREIGN KEY(id_country) REFERENCES Countries(id))
;
"""

In [37]:
#not needed
#engine.execute(query_rosenberg)

##### Table 3: Hofstede_report

In [38]:
query_hof = """
CREATE TABLE Hofstede_report(
id INT NOT NULL AUTO_INCREMENT,
id_country INT(17),
power_distance INT,
individualism INT,
uncertianty_avoidance INT,

PRIMARY KEY(id),
FOREIGN KEY(id_country) REFERENCES Countries(id)
);
"""

In [39]:
#not needed
#engine.execute(query_rosenberg)

## 3. Export data to SQL

##### hofstede report

In [61]:
hof = pd.read_csv("../data/01_clean_data/hofstede_report.csv").drop("Unnamed: 0", axis=1)

In [62]:
hof.head()

   country  power_distance  individualism
0       10            49.0           46.0
1       13            36.0           90.0
2       12            11.0           55.0
3       19            80.0           20.0
4       20            65.0           75.0

In [64]:
hof.to_sql("Hofstede_report", con=engine, if_exists="append", index=True)

In [60]:
#checking
#engine.execute("SELECT * FROM hofstede_report").fetchall()

##### rosenberg

In [65]:
ros = pd.read_csv("../data/01_clean_data/rosenberg_table.csv").drop("Unnamed: 0", axis=1)

In [66]:
ros.head()

   country  age  overall_score gender
0      234   40             29      M
1      234   36             26      M
2      234   22             27      F
3      234   31             28      M
4       70   30             25      M

In [67]:
ros.to_sql("Rosenberg_results", con=engine, if_exists="append", index=True)

In [ ]:
#checking
#engine.execute("SELECT * FROM hofstede_report").fetchall()

##### countires

In [68]:
iso = pd.read_csv("../data/01_clean_data/ISO_country_codes.csv").drop("Unnamed: 0", axis=1)

In [69]:
iso.head()

  country_code               country
0           AD               Andorra
1           AE  United Arab Emirates
2           AF           Afghanistan
3           AG   Antigua and Barbuda
4           AI              Anguilla

In [70]:
iso.to_sql("Country", con=engine, if_exists="append", index=True)

In [ ]:
#checking
#engine.execute("SELECT * FROM hofstede_report").fetchall()

### 4. Checking

In [71]:
query_tables = """
SHOW TABLES
"""

db_tables = pd.read_sql(query_tables, engine)
db_tables

  Tables_in_Project_4
0           Countries
1             Country
2     Hofstede_report
3   Rosenberg_results

### 5. Primary and foreign key definition
Done through SQL workbench