##### import libraries needed

In [27]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import numpy as np

### DB Layout
![DB Layout plan](./01-DB_structure_diagramm.PNG)

### 1. Creating a connection to project DB

In [28]:
driver = "mysql+pymysql:"
user = "ironhack"
password = "Ir0nhack"
ip = "35.240.116.117"
database = "Project_4"

In [29]:
connection_string = f"{driver}//{user}:{password}@{ip}/{database}"
engine = create_engine(connection_string)

### 2. Creating tables

##### Table 1: Countries

In [30]:
query_country = """
CREATE TABLE Countries(
id INT(17) NOT NULL AUTO_INCREMENT,
country VARCHAR(25),
country_code VARCHAR(25),

PRIMARY KEY(id)
);
"""

In [31]:
engine.execute(query_country)

##### Table 2: Rosenberg_results

In [36]:
query_rosenberg = """
CREATE TABLE Rosenberg_results(
id INT(17) NOT NULL AUTO_INCREMENT,
sum_results INT,
id_country INT(17),
age INT,
gender VARCHAR(1), 

PRIMARY KEY(id),
FOREIGN KEY(id_country) REFERENCES Countries(id))
;
"""

In [37]:
engine.execute(query_rosenberg)

##### Table 3: Hofstede_report

In [38]:
query_hof = """
CREATE TABLE Hofstede_report(
id INT NOT NULL AUTO_INCREMENT,
id_country INT(17),
power_distance INT,
individualism INT,
uncertianty_avoidance INT,

PRIMARY KEY(id),
FOREIGN KEY(id_country) REFERENCES Countries(id)
);
"""

In [39]:
engine.execute(query_hof)

### 3. Checking

In [40]:
query_tables = """
SHOW TABLES
"""

db_tables = pd.read_sql(query_tables, engine)
db_tables

  Tables_in_Project_4
0           Countries
1     Hofstede_report
2   Rosenberg_results